include ./variables.jade
include ./mixins.jade
head

  meta(charset="utf-8")
  meta(http-equiv="X-UA-Compatible" content="IE=edge")
  meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
  meta(property="og:title" content="Студия «Кавалерия»")
  meta(property="og:description" content="Предпочитаем мешки ворочать")
  meta(property="og:image" content="http://cavaleria.ru/img/logo.png")
  +js("https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js")


  link(rel="stylesheet" href="css/main.css")


  title #{title}
